@charset "UTF- 8";
*{font-family:Arial, Helvetica, sans-serif;
     
 }
body{background-image: linear-gradient(to right, #164DF2,#1469D9,#44A1F2);

    }
main{background-color: white;
    border-radius: 10px;
    box-shadow: #89894c,#04441d,#390202;   
    width: 600px;
    margin: auto;
    padding: 10px;
   font-style: oblique;
   font-weight: 100;
   font-stretch: ultra-condensed;
  
   }
h1{
                                        
    font-style: oblique;
    text-align: center;
    color: #164DF2; 
   text-shadow: 1px 1px 2px rgb(129, 77,5); 
}
h2{
   color: aqua;  
  }


p{text-align: justify;


 }