@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu{
    display: none; /*NAO VAI APARECER NA IMPRESSORA*/
}

article::after{
    content: 'este artigo foi impresso atraves do site www.cadu.alenda';
}