h1{color: aqua;
    position: relative;
text-align: center;
background-color: black;


}
p{color: aquamarine;
    text-align: center;
}
.imagem{

text-align: center;
direction: initial;
bottom: none;





}

